@define-color theme_fg_color #2F2F2F;
@define-color theme_text_color #2F2F2F;
@define-color theme_bg_color #EAEAEA;
@define-color theme_base_color #f0f0f0;
@define-color theme_selected_bg_color #6aa9d9;
@define-color theme_selected_fg_color #fefefe;
@define-color insensitive_bg_color #FCFCFC;
@define-color insensitive_fg_color #8e9094;
@define-color insensitive_base_color #f0f0f0;
@define-color theme_unfocused_fg_color #8e9094;
@define-color theme_unfocused_text_color #313131;
@define-color theme_unfocused_bg_color #EAEAEA;
@define-color theme_unfocused_base_color #ededed;
@define-color theme_unfocused_selected_bg_color #6aa9d9;
@define-color theme_unfocused_selected_fg_color #fefefe;
@define-color borders rgba(black, 0.1);
@define-color unfocused_borders rgba(144, 144, 144, 0.217);
@define-color warning_color #f96a40;
@define-color error_color #f7a085;
@define-color success_color #6ac1e4;
@define-color fg_color #31363d;
@define-color text_color #31363D;
@define-color bg_color #EAEAEA;
@define-color base_color #f0f0f0;
@define-color selected_bg_color #6aa9d9;
@define-color selected_fg_color #fefefe;
@define-color unfocused_fg_color #8e9094;
@define-color unfocused_text_color #31363D;
@define-color unfocused_bg_color #EAEAEA;
@define-color unfocused_base_color #ededed;
@define-color unfocused_selected_bg_color #6aa9d9;
@define-color unfocused_selected_fg_color #fefefe;
@define-color wm_title shade(#31363d, 1.8);
@define-color wm_unfocused_title #8e9094;
@define-color wm_highlight rgba(255, 255, 255, 0.2);
@define-color wm_borders_edge rgba(255, 255, 255, 0.2);
@define-color wm_bg_a shade(#EAEAEA, 1.2);
@define-color wm_bg_b #EAEAEA;
@define-color wm_shadow alpha(black, 0.3);
@define-color wm_border alpha(black, 0.2);
@define-color wm_button_hover_color_a shade(#EAEAEA, 1.3);
@define-color wm_button_hover_color_b #EAEAEA;
@define-color wm_button_active_color_a shade(#EAEAEA, 0.85);
@define-color wm_button_active_color_b shade(#EAEAEA, 0.89);
@define-color wm_button_active_color_c shade(#EAEAEA, 0.9);
@define-color content_view_bg #f0f0f0;
@define-color budgie_tasklist_indicator_color #6aa9d9;
@define-color budgie_tasklist_indicator_color_active #6aa9d9;
* {
  padding: 0;
  -GtkToolButton-icon-spacing: 4;
  -GtkTextView-error-underline-color: #ff3a3d;
  -GtkScrolledWindow-scrollbar-spacing: 0;
  -GtkToolItemGroup-expander-size: 11;
  -GtkWidget-text-handle-width: 20;
  -GtkWidget-text-handle-height: 24;
  -GtkDialog-button-spacing: 4;
  -GtkDialog-action-area-border: 0;
  outline-color: rgba(49, 54, 61, 0.3);
  outline-style: dashed;
  outline-offset: -3px;
  outline-width: 1px;
  -gtk-outline-radius: 2px;
  -gtk-secondary-caret-color: #6aa9d9; }
